*.out
*.obj
models
flattened_swagger.yml
.vscode
Windows
*.env
data_dir*
restapi/operations
restapi/doc.go
restapi/server.go
restapi/embedded_spec.go
cmd/*.go
cmd/telehealers-backend-server
cert
run.sh
test.go